*{
    margin: 0px;
    padding: 0;
    
}



.header{
    background-color: #fff;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 1000;
   width: 100%;
   padding:0;
   margin: 0;
   height: auto;
   
}

.upper-bar{
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    height: 50px;
    
}


.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
}



.logoI{
    margin: 0;
    font-size: 24px;
}


.high{
    color:#ff6600 ;
}

.search-bar{
    display: flex;
    flex-wrap: wrap;
}


.search-bar input{
    padding: 10px;
    width: 200px;
    border: 2px solid #ccc;
    font-size: 15px;
}

.search-bar button{
    /* flex-wrap: wrap; */
    /* display: flex;
    align-self: center; */
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.search-bar button:hover{
    background-color: cornflowerblue;
    color: black;
}

.user-options{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.account{
    font-size: 20px;
}


.main-header .account:hover{
    background-color: #ff6600;
    color: #fff;
} 

.cart{
    font-size: 20px;
}


.menu{
    display: flex;
    flex-wrap: wrap;
    background-color: #1c4064;
    padding: 10px 30px;
   
}

.menu ul{
    display: flex;
    list-style: none;
    color: #fff;
}

.menu ul li {
    color: #fff;
    margin-right:55px ;
    cursor: pointer;
    font-size: 16px;
}


.sasa a{
    color: white;
    text-decoration: none;
}

.menu ul li:hover{
    background-color:#ff6600;
    color: #fff;
    padding: 0px;
    border-radius: 5px;
} 

.background-image{
    background-image:url(image1/2150714005.jpg) ;
    background-size: cover;
    background-position: center;
    align-items: center;
    color: white;
    margin: 70px;
    height: 1000px; 
    width: auto;
    border: 3px solid rgb(88, 253, 6);
    display: block;
    border-radius: 30px;
    flex-wrap: wrap;
}


.text{
    margin-left: 30px;
     position: relative;
     font-size: 40px;
   color:aqua;  
}

.divs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.new{
    text-align: center;
    padding-bottom: 30px;
    color:#58a3ed;

}


.gallery{
    display: inline-block;
    border: 1px solid rgb(196, 247, 225);
    margin: 5px;
    width: 200px;
    align-items: center;
    padding: 10px;
    background-color:beige;
    color:black;
    font-size: 19px;
    margin-left: 20px;
    flex-wrap: wrap;
  
   
}

.gallery .description{
    padding: 10px;
    text-align: center;

}


.gallery img{
    width: 100%;
    height: auto;
} 

.description a{
    color: black;
    text-decoration: none;

}

 


.darl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   row-gap: 120px;
    height: 400px;
   }

.dar2 p{

text-align: center;
font-size: 20px;
font-weight: bold;
padding-top: 20px;
text-decoration: underline;
}


.dar2{

    background-color:coral;
    color: white;
}


.products{
   display: flex;
  flex-direction:column; 
  row-gap: 20px;
  justify-content:space-around;
  flex-wrap: wrap;
  /* list-style: none; */
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.products a{
    text-decoration: none;
    color: white;
    font-size: 20px;  
}

 .footer{
    height: auto;
     display: flex;
     /* flex-direction: column;  */
    justify-content: space-around;
    flex-wrap:wrap ;
    flex-grow: 1; 
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 50px;

} 


.footer li a{
    color: white;
}

.footer .more a{
    color: red ;
    text-decoration: none;
    

}

.footer .social-buttons{
     display: flex; 
     gap: 10px;
    margin-top: 20px;

} 



.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: white; 
    height: 50px;
    width: 50px;
    border-radius:20px;

    
}

.Twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: white; 
    height: 50px;
    width: 50px;
    border-radius:20px; 
} 

.intagram{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: white; 
    height: 50px;
    width: 50px;
    border-radius:20px; 
    } 



 .mail-bar{
    padding-top: 20px;
 }
    


.mail-bar button{
    flex-wrap: wrap;
    padding: 5px 10px;
    background-color:#ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

 .mail-bar button:hover{
    background-color:darkslategrey;
    color: black;
}

.paragraph{
    font-size: 20px;
    padding-top: 15px;
}

.olay{
    font-size: 20px;
    padding-top: 15px;
}
    
.boy{
    font-size: 20px; 
    /* margin-bottom: 20px; */
    gap: 20px;
}

.events{
 column-gap   : 90px;
}



.events li{
    list-style: none; 
    margin-bottom: 8px;
    

    

}

.more a{
    color: red;
}

.events li a{
  text-decoration: none;
  color: white;

}
.footer2{
    align-items: center;

    font-size: 18px;
    color:#ccc
}

.site{
    padding: 2px;
    margin: 5px;
    font-size:16px;
}

.footer2 button{
    background-color: #ff6600;
    color:white;
}

.footer2 button:hover{
    background-color: darkgray;
    color: white;
}




